html, body {
	margin: 0;
	padding: 0;
	background-color: #020202;
	font-size: 100%;

	color: #f4f4f4 !important;

	height: 100%;

}

section {
	padding: 10px;
	width: 100%;
	clear: both;
}

.block {
	width: 100%;
	clear: both;
	overflow: auto;
}

.left {
	width: 50%;
	float: left;
}

.right {
	width: 50%;
	float: right;
}

.padding {
	padding: 10px;
}

h1 {
	font-family: 'Merriweather', serif;
}

h2 {
	font-family: 'Merriweather', serif;
}

h3 {
	font-family: 'Merriweather', serif;
}

h4 {
	font-family: 'Lato', sans-serif;
}

p {
	font-family: 'Lato', sans-serif;
	letter-spacing: 1px;
	font-size: 1em;
}
.smallTxt {
	font-size: 0.7em;
}

.bg {
  /* The image used */

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#index_about {

}

#index_about h2 {
	text-transform: uppercase;
}

#index_about p {

}

.index_developments {
	width: 90%;
	margin: auto;
	min-height: 120px;
	overflow: auto;
}

.di_image_div {
	width: 100%;
	max-height: 1000px;
	overflow: hidden;
}

.di_image_div img {
  width:100%;
  display:block;
  position:relative;
  left:0;
  right:0;
  bottom:100%;
  margin:auto;
}

.di_content_div {
	width: 100%;
	clear: both;
	background-color: #333;
	color: #fff;
	text-align: center;
}

#team img {
	width: 80%;
	margin-left: 10%;
}

#team h2 {
	text-transform: uppercase;
}

#team p {
	padding: 10px;
}

.development_meta {
	width: 50%;
	float: left;
	text-align: center;
}

.house_image_div {
	max-width: 80%;
	margin: auto;
	max-height: 150px;
}

.house_image_div img {
	height: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.house_content_div {
	width: 100%;
	background-color: #333;
	min-height: 190px;
	color: #fff;
	clear: both;
}

.house_content_div button {
	border: solid 2px #ffb833;
	background-color: #ffb833;
	padding: 5px;
	color: #000;
	cursor: pointer;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	border-radius: 2px;
	font-weight: bold;
	float: right;
	width: 100%;

}


.btn {
	border: solid 2px #ffb833;
	background-color: #ffb833;
	padding: 5px;
	color: #000;
	cursor: pointer;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	border-radius: 2px;
	font-weight: bold;
	float: right;
	width: 100%;
}

.btn:hover {
	color: #fff;
}


#project_meta_bar {
	overflow: auto;
	width: 100%;
	clear: both;
}

.dev_house {
	width: 100%;
}

.property_details {
	float: left;
	margin: 10px;
}

.property_details_bar {
	width: 100%;
	position: relative;
	bottom: 0;
	font-family: 'Lato', sans-serif;
}

.property_details_bar_page 	{
	width: 30%;
	margin: auto;
	font-family: 'Lato', sans-serif;
}

.property_details_bar a {
	text-decoration: none;
	color: #fff;
}

.property_details_page {
	text-align: center;
	float: left;
	width: 31%;
	margin: 1%;
	color: #fff;
}


.goright {
	float: right;
}

.enquire_div {
	width: 100%;
	background-color: #333;
	overflow: auto;
}

.enquire_div button {
	border: solid 2px #ffb833;
	background-color: #ffb833;
	padding: 5px;
	color: #000;
	cursor: pointer;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	border-radius: 2px;
	font-weight: bold;
	float: right;
	width: 100%;
}

#content {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.homeImg {


	position: absolute;
	top: 30%;
	left: 40%;

}

#homeList {
	list-style-type: none;
	width: 100%;
	text-align: center;
}

#homeList li {
	text-align: center;
	padding: 10px 15px;
	border: 2px solid #F7B554;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 1.2em;
	font-family: 'Lato', sans-serif;
	display: inline-block;
	margin-left: 20px;
}

#homeList li:hover {
	background-color: #F7B554;
	color: #000;
}


#homeList a {
	text-decoration: none;
	color: #fff;

}

.homeInstaFeed {
	width: 31%;
	margin: 1%;
	float: left;
}

.homeInstaFeedImg {
	width: 100%;

}

.instaImage {
	position:relative;
}

.instaHiddenMeta {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
}

.instaImage:hover .instaHiddenMeta {
  opacity: 0.8;
  box-shadow:  15px 15px 50px #000;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.sitePlan {
	/*background-color: #fff;*/
}


.sitePlan img {
	max-height: 500px;
}

.floorMenu {
	list-style-type: none;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

.floorMenu li {
	padding: 10px;
	display: inline-block;
	text-align: center;
	margin: auto;
}

.hr {
	border-bottom:thin solid gold;
	width: 90%;
	margin-left: 5%;
}

.card {
	min-height: 488px;
}